<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/adminpanel.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="left">
            <div id="up"><h2>LOCALCRAFT</h2> <i class="ri-close-line cross"></i></div>
            <div id="down">
                <div id="box">
                    <i class="ri-menu-unfold-line"></i>
                    <h3>Dashbourd</h3>
                </div>
                <div id="box">
                    <i class="ri-contrast-drop-fill"></i>
                    <h3>UI Element</h3>
                </div>
                <div id="box">
                    <i class="ri-menu-unfold-line"></i>
                    <h3>Dashbourd</h3>
                </div>
                <div id="box">
                    <i class="ri-contrast-drop-fill"></i>
                    <h3>UI Element</h3>
                </div><div id="box">
                    <i class="ri-menu-unfold-line"></i>
                    <h3>Dashbourd</h3>
                </div>
                <div id="box">
                    <i class="ri-contrast-drop-fill"></i>
                    <h3>UI Element</h3>
                </div>
                
            </div>
        </div>
        <div id="right">
            <div id="nav">
                <i id="menuicon" class="ri-menu-2-line"></i>
                <input type="text" placeholder="Search...">

                <div id="nav-right">
                <i class="ri-mail-open-line none"></i>
                <i class="ri-notification-2-line none"></i>
                <div id="profilephoto">
                    <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">
                </div>
                <i class="ri-more-2-fill"></i>
                </div>
                
            </div>
            <div id="down">
                <div id="top">
                    <div id="left-top"> <h3>Sales Trends</h3> <h4>Enterprise</h4> <h6>Home > Dashbourd</h6></div>
                    <div id="right-top">
                        <select name="lang" id="lang">
                            <option value="value" selected>Select by</option>
                       
                            <option value="">English</option>
                            <option value="">Hindi</option>
                            
                        </select>
                        <button>Download report</button>
                        <button>Data Export</button>
                    </div>
                </div>
                <div id="top-2">
                    <div id="left">
                        <h5>Categories:</h5>
                        <div class="color" id="red"></div><h5>#sales</h5>
                        <div class="color"  id="green"></div><h5>#purchases</h5>
                        <div class="color"  id="blue"></div><h5>#return</h5>
                        
                    </div>
                    <div id="right">
                        <div id="box"><i class="ri-pencil-line"></i><h5>Edit</h5></div>
                        <div id="box"> <i class="ri-money-dollar-circle-fill"></i><h5>Plans & Billing</h5></div>
                        <div id="box"> <i class="ri-logout-box-r-line"></i><h5>Leave</h5></div>


                       
                    </div>
                </div>
                <div id="top-3">
                    <div id="left"></div>
                    <div id="right"></div>
                </div>
                <div id="top-4">
                    <div id="left"></div>
                    <div id="right"></div>
                </div>
            </div>
        </div>
    </div>
   <script src="../javascripts/adminpanel.js"></script>
   <!-- <script src="../javascripts/productpage.js"></script> -->
</body>
</html>