<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/productpage.css">
</head>
<body>
    <div id="cursor">

    </div>
    <div id="nav">
        <div id="left">
           

            <h3>LOCALCRAFTS</h3>
        </div>
        <div id="mid">
            <a href="/">Brand Home</a>
        </div>
        <div id="right">
            
            <a href="">My Cart</a>
           
        </div>
    </div>
    <div id="main">
        <div id="page1">
            <div id="left">
                <a href=""><button>All Product</button></a> <br>
                <a href=""><button>Obsidian</button></a> <br>
                <a href=""><button>Clay</button></a> <br>
                <a href=""><button>Home</button></a>

            </div>
            <div id="right">
                <div class="card" >
                    <div id="img">
                        <img class="img1" src="https://images.unsplash.com/photo-1594729851651-46b17161f773?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
                        <img class="img2" src="https://images.unsplash.com/photo-1582937588481-8f9a563a289d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">



                    </div>
                   <div id="overlay">
                    <div id="up"><button>Add to Cart</button></div>
                    <div id="down"> <div id="name"> <h3>VIBRATOR</h3></div> <div id="prize"><h3>Rs. 699.00</h3></div></div>
                   </div>
                </div>
                <div class="card" >
                    <div id="img">
                        <img class="img1" src="https://images.unsplash.com/photo-1581288797722-95239cfa39a3?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1826&q=80" alt="">

                        <img class="img2" src="https://images.unsplash.com/photo-1583141244634-5e1ddf8e0d1e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjJ8fHNleHxlbnwwfDF8MHx8fDA%3D&auto=format&fit=crop&w=500&q=60" alt="">


                    </div>
                   <div id="overlay">
                    <div id="up"><button>Add to Cart</button></div>
                    <div id="down"> <div id="name"> <h3>CONDOM</h3></div> <div id="prize"><h3>Rs. 69.00</h3></div></div>
                   </div>
                </div>
                <div class="card" >
                    <div id="img">
                        <img class="img1" src="https://images.unsplash.com/photo-1582571009251-3477328204db?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt="">

                        <img class="img2" src="https://images.unsplash.com/photo-1543654916-52cb2192d8c2?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt="">


                    </div>
                   <div id="overlay">
                    <div id="up"><button>Add to Cart</button></div>
                    <div id="down"> <div id="name"> <h3>CONDOM</h3></div> <div id="prize"><h3>Rs. 69.00</h3></div></div>
                   </div>
                </div>
                <div class="card" >
                    <div id="img">
                        <img class="img1" src="https://images.unsplash.com/photo-1648782360078-52084f329945?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt="">
                        <img class="img2" src="https://images.unsplash.com/photo-1651027446572-7c27d7d50537?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt="">



                    </div>
                   <div id="overlay">
                    <div id="up"><button>Add to Cart</button></div>
                    <div id="down"> <div id="name"> <h3>VIBRATOR</h3></div> <div id="prize"><h3>Rs. 699.00</h3></div></div>
                   </div>
                </div>

                
                
            </div>
        </div>
        


    </div>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js" integrity="sha512-Ic9xkERjyZ1xgJ5svx3y0u3xrvfT/uPkV99LBwe68xjy/mGtO+4eURHZBW2xW4SZbFrF1Tf090XqB+EVgXnVjw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
   <script src="../javascripts/productpage.js"></script>
</body>
</html>